/* SSH Guardian v3.0 - Main Stylesheet */
/* This file imports all component stylesheets */

@import url('components/variables.css');
@import url('components/logo.css');
@import url('components/topbar.css');
@import url('components/sidebar.css');
@import url('components/layout.css');
@import url('components/page-header.css');
@import url('components/tabs.css');
@import url('components/cards.css');
@import url('components/stats.css');
@import url('components/scrollbar.css');
@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/tables.css');
@import url('components/badges.css');
@import url('components/pagination.css');
@import url('components/toggle.css');
@import url('components/modals.css');
@import url('components/agents.css');
@import url('components/ip_analysis_modal.css');

/* Overview page - modular components */
@import url('components/section-header.css');
@import url('components/overview-tabs.css');
@import url('components/overview-hero.css');
@import url('components/overview-actions.css');
@import url('components/overview-wizard.css');
@import url('components/overview-thesis.css');
@import url('components/overview-responsive.css');

@import url('components/notification_pane.css');
@import url('components/notification_history.css');
@import url('components/footer.css');
@import url('components/responsive.css');
